.DS_Store
.idea/
www/data/*
www/devtools/.editorconfig
www/devtools/.github/
www/devtools/.gitignore
www/devtools/.phalcon/
www/devtools/.travis.yml
www/devtools/CONTRIBUTING.md
www/devtools/LICENSE.txt
www/devtools/README.md
www/devtools/bootstrap/
www/devtools/box.json
www/devtools/codeception.yml
www/devtools/composer.json
www/devtools/ide/
www/devtools/phalcon
www/devtools/phalcon-completion.bash
www/devtools/phalcon.bat
www/devtools/phalcon.php
www/devtools/phalcon.sh
www/devtools/phpcs.xml.dist
www/devtools/phpstan.neon
www/devtools/resources/
www/devtools/scripts/
www/devtools/templates/
www/devtools/tests/
www/devtools/webtools.php
www/sonar/.sonar/.sonartmp_4190107104281319231/
www/sonar/.sonar/.sonartmp_566861507977032000/
www/sonar/.sonar/.sonartmp_8774329015946177709/
www/sonar/.sonar/.sonartmp_927167967893592128/
www/sonar/.sonar/_tmp/
www/sonar/.sonar/cache/05b8716296f0a4fdbd741af867516597/sonar-go-plugin.jar_unzip/
www/sonar/.sonar/cache/09ae824d3796a4a92678af9454dcfbff/sonar-flex-plugin.jar_unzip/
www/sonar/.sonar/cache/0c3ec093156f0350edc21e2a1d7ef2ee/sonar-xml-plugin.jar_unzip/
www/sonar/.sonar/cache/1230c396215a51a9e8b682b93e0dbc9b/sonar-ruby-plugin.jar_unzip/
www/sonar/.sonar/cache/1bee17e3bd3f033c19378cf80e76e18b/sonar-javascript-plugin.jar_unzip/
www/sonar/.sonar/cache/2d9994a460180757f3fbad54f03e818e/sonar-kotlin-plugin.jar_unzip/
www/sonar/.sonar/cache/302e7d3fd41752f4113d4185ce94852a/sonar-xml-plugin.jar_unzip/
www/sonar/.sonar/cache/318367c3a7afb5e929d8dc42b4d28475/sonar-jacoco-plugin.jar_unzip/
www/sonar/.sonar/cache/36fa40c024b7425dcd80607315d9d237/sonar-vbnet-plugin.jar_unzip/
www/sonar/.sonar/cache/37ae8929672c56a67919c60df53b4283/sonar-scmsvn-plugin.jar_unzip/
www/sonar/.sonar/cache/45e3bfcd65e7578ed4cd89604de3b06f/sonar-sonarscala-plugin.jar_unzip/
www/sonar/.sonar/cache/4a3cc03335859f0839de090b0ed35956/sonar-typescript-plugin.jar_unzip/
www/sonar/.sonar/cache/556c6247bee4506df29d82eccc325307/sonar-javascript-plugin.jar_unzip/
www/sonar/.sonar/cache/5a717f80c0f2337a3ce7b9a58f43cfee/sonar-csharp-plugin.jar_unzip/
www/sonar/.sonar/cache/689ca1ee3585448284954dd0e15d0198/sonar-vbnet-plugin.jar_unzip/
www/sonar/.sonar/cache/716a52eef1e2edefeafa4c83c9c33a22/sonar-scmgit-plugin.jar_unzip/
www/sonar/.sonar/cache/74dfad9fb80c653ed5c959c3b2ed5a4a/sonar-ruby-plugin.jar_unzip/
www/sonar/.sonar/cache/783fba6b08ef3f5e1d1e0713edcc3882/sonar-cssfamily-plugin.jar_unzip/
www/sonar/.sonar/cache/7b8427a6d19d134933df94d4625db54c/sonar-java-plugin.jar_unzip/
www/sonar/.sonar/cache/90ff20787c75521606a396a928f18e87/sonar-typescript-plugin.jar_unzip/
www/sonar/.sonar/cache/91f25bbf08401b93d651d5f3653d2e0e/sonar-web-plugin.jar_unzip/
www/sonar/.sonar/cache/_tmp/
www/sonar/.sonar/cache/a25e0410f3b46edbf61087b7b994eecb/sonar-python-plugin.jar_unzip/
www/sonar/.sonar/cache/aa6b698086b7909536502187be843988/sonar-scmgit-plugin.jar_unzip/
www/sonar/.sonar/cache/c80c0d053f074a9147d341cf1357d994/sonar-php-plugin.jar_unzip/
www/sonar/.sonar/cache/d0a24add6ef04168ce86a24b532df782/sonar-php-plugin.jar_unzip/
www/sonar/.sonar/cache/d9106bb0ca0ee43e471b091ef096686a/sonar-l10nzh-plugin.jar_unzip/
www/sonar/.sonar/cache/dc952bf163f53f86e58138171c4392b5/sonar-java-plugin.jar_unzip/
www/sonar/.sonar/cache/e05448d972907346350c9a5bc2c6ce99/sonar-l10nzh-plugin.jar_unzip/
www/sonar/.sonar/cache/ed876a9f32579a77ced43b96ae0b88fe/sonar-python-plugin.jar_unzip/
www/sonar/.sonar/cache/f52f52a8d29ddde530f82d2b72b7868c/sonar-csharp-plugin.jar_unzip/
www/sonar/.sonar/cache/f5eb20533b313ea121001eb62b4ec8eb/sonar-kotlin-plugin.jar_unzip/
www/sonar/.sonar/cache/f86234247aeddc3f39d40ea516147dc6/sonar-cssfamily-plugin.jar_unzip/
www/sonar/data/pg_commit_ts/
www/sonar/data/pg_dynshmem/
www/sonar/data/pg_logical/mappings/
www/sonar/data/pg_logical/snapshots/
www/sonar/data/pg_replslot/
www/sonar/data/pg_serial/
www/sonar/data/pg_snapshots/
www/sonar/data/pg_stat/
www/sonar/data/pg_tblspc/
www/sonar/data/pg_twophase/
www/sonar/data/pg_wal/archive_status/
